html{
    background-color: beige;
    padding: 10px;
}

body{
    background-color: rgb(219, 219, 129);
    padding: 10px;
    margin:0px;
}

header{
    background-color: blanchedalmond;
    margin: 10px;
}

main{
    background-color: rgb(236, 194, 236);
    margin: 10px;
    padding: 30px;
}

nav{
    background-color: bisque;
    margin: 10px;
}

div{
    background-color: rgb(142, 142, 114);
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 200px;
}
